@media (max-width:425px) {

    html{
        font-size: 38%;
    }
    h1{
        font-size: 5rem;
    }

    .home-description {
        font-size: 3.6rem;
    }

 
    .home-button{
        font-size: 4rem;
        
    }
    .target-column-1{
        padding: 10px;
    }


    .about-tittle-descriptions {
        font-size: 2.4rem;
       
    }
    
    .about-descriptions {
        font-size: 2.4rem;
        
    
    }
    .img-container {
        height: 180px;
      
    }

    .img-description {
        font-size: 2.8rem;
    }

    .registration-description {
        font-size: 2.8rem;
        
    }
}


    @media (min-width:425px) {

        .target-column-1{
            padding: 0 30px;
        }

        .target-tittle-descripiton {
            font-size: 2.4rem;
        }

       .target-content {
           padding-left: 20px;
           font-size: 2.2rem;
       }

       h1{
        font-size: 8rem;
    }


    }


    
     



@media (max-width:800px) {
    
    html{
        font-size: 45%;
    }

   

    #header-container .header-menu {
        height: 70px;
    
    }
    #header-container .header-menu #nav #btn-mobile{
        display: flex;
        padding: 10px 7px;
        border: none;
        background: none;
        cursor: pointer;

    }
    #header-container .header-menu #nav #btn-mobile:hover{
        background-color:rgba(255, 255, 255, 0.144);
        transition: .3s;

    }

    #hamburguer-button {
        color:#fff;
        display: block;
        border-top: 3px solid;
        width: 30px;
        transition: .4s;
       
    }

    #hamburguer-button::after, #hamburguer-button::before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background:currentColor;
        margin-top: 8px;
        transition: .3s;
        position: relative;
       
       
    }
    #menu {
        display: block;
        align-items: center;
        position: absolute;
        width:180px;
        top: 69px;
        left: 0;
        background-color:#2570b7a9;
        height: 0;
        transition:.4s;
        z-index: 9999;
        visibility: hidden;
        overflow-y: hidden;
        border-bottom-right-radius: 10%;
    }

    .options-mobile:hover {
        background-color: rgba(255, 255, 255, 0.096);
        color: #fff;
        transition: .4s;
    }

    .header-menu img {
       display: none;
       
    }
    .header-menu #nav {
        width: 100%;
    }

    .options-mobile {
       padding: 2rem 0;
       margin: 0 1rem;
       border-bottom: 2px solid rgba(0, 0, 0, 0.123);
       border-bottom-right-radius: 15%;
       text-align: center;
       
    }

    #nav.active #menu {
        height: calc(240px - 70px);
        visibility: visible;
        overflow-y: auto;
        
    }

    #nav.active #hamburguer-button {
       border-top: transparent;

    }
    #nav.active #hamburguer-button::before {
        transform: rotate(135deg);
       

    }
    
    #nav.active #hamburguer-button::after {
        transform: rotate(-135deg);
        top: -11px
       

    }

    #home-container {
        text-align: center;
    }

    .home-tittle {

        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .target-columns {
      
        grid-template-rows: repeat(5, 15vh);
       
    
    }

    .column6{
        display: none;
    }
    .column7{
        display: none;
    }
    .column8{
        display: none;
    }
    .column9{
        display: none;
    }
    .column10{
        display: none;
    }

    .about-tittle-descriptions {
        font-size: 2.8rem;
       
    }
    
    .about-descriptions {
        padding-top: 25px;
        font-size: 2.4rem;
       
    
    }


    .img-footer {
        padding-top: 60px;
        gap: 30px;
    }
   
    .img-footer img {
        width: 120px;
    }


    




}

@media (min-width:800px) {
    .home-img{
        justify-content:right;
    
    }

    .target-columns {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px ,1fr));
        grid-template-rows: repeat(5, 18vh);
        grid-gap: 30px 50px;
    
    }

    .target-img img {
        width: 80px;
    }

   


    .services-item-tittle {
        margin-top: 40px; 
    }

    .services-content{
        margin: auto;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 50px;
    }

    .services-item {
      
        flex-direction: column-reverse;
        justify-content: space-between;
        border-bottom: none;
      
    }

    .services-item-description {
         max-width: none;
        
    }

    .services-item-column {
       align-items: center;
       text-align: center;
    }

    .services-item-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        padding: 42px;
  
    
    }

    .services-item-img {
        width: 100%;
       
      
        
    }
    .services-item-img-container-2 {
        width: 150px;
        height: 150px;
  
    
    }

    .services-item-img-2 {
        width: 55px;
      
        
    }
    .services-item-img-container-3 {
        width: 150px;
        height: 150px;
  
    
    }

    .services-item-img-3 {
        width: 65px;
      
        
    }

    .services-button {
        width: 100%;
    }


    .about-container {
        display: flex;
        flex-direction: row;
       
    }

    
    .about-container-columns-border {
        border-top: 3px solid rgba(117, 117, 117, 0.37);;
        border-left: transparent;
    }
    
    .about-tittle-descriptions {
        font-size: 1.8rem;
       
    }
    
    .about-descriptions {
        padding-top: 15px;
        font-size: 1.8rem;
       
    
    }

    .img-container {
        height: 250px;
        font-size: 3.2rem;
      
    }
    
    .registration-form {
        margin: auto;
        width: 500px;
        gap: 50px;
        padding: 40px;
    
    }

    .form-description {  
        width: 100%;
        height: 80px;
        
        
    }
   
    .form-button { 
       width: 100%;
       height: 80px;
   
    }

  
    
    
}

@media (max-width:1140px) {

    html{
        font-size: 45%;
    }

    #header-container .header-menu #nav{   
        gap:20px;
    }
    #header-container .header-menu #menu {
        gap:20px;
         
     }

     #header-container .header-menu img {
        width: 150px;
        height: auto;
       
    }

}

@media (min-width:1140px) {

    html{
        font-size: 60%;
    }
     .about-container-columns {
        height: 250px;
    
    
    } 

    .img-container {
        height: 300px;    
      
    }

    .target-img img {
        width: 90px;
    }

    .target-column-1 {
        padding: 0  30px;

    }

    .target-content {
        padding-left: 30px;
    }


  
}









