* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

#header-container {
  position: fixed;
  width: 100%;
  background-color: #2571b7;
}

.header-menu {
  width: 90%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

#menu {
  display: flex;
  list-style: none;
  gap: 60px;
}

.options-mobile-home {
  display: none;
}

.options-mobile {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  display: block;
  padding: 5px;
}

.options-mobile:hover {
  color: #002050;
  transition: 0.5s;
}

hr {
  display: none;
}

.button-menu a {
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  background-color: #002050;
  font-size: 2.4rem;
  cursor: pointer;
  z-index: 9999;
}

.button-menu a:hover {
  background-color: #fff;
  color: #2571b7;
  transition: 0.5s;
}

#btn-mobile {
  display: none;
}

#home-container {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      black 100%
    ),
    url('img/note.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  overflow-y: hidden;
}

.home-tittle {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

h1 {
  color: white;
  font-size: 10rem;
  margin-bottom: 40px;
  margin-left: 0;
}

.home-description {
  color: white;
  font-size: 4.5rem;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 105px;
  width: 270px;
  max-width: 325px;
  height: 80px;
  border: none;
  font-size: 3.2rem;
  cursor: pointer;
  text-decoration: none;
}

.home-button a {
  padding: 18px 48px;
  color: white;
  background-color: #00a4ef;
  text-decoration: none;
}

.home-button:hover a {
  background-color: white;
  color: #2571b7;
  transition: 0.5s;
}

.home-img {
  width: 95%;
  display: flex;
  justify-content: center;
}

.description-container {
  padding-top: 40px;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
}

color {
  color: tomato;
}

.description-container p {
  margin-bottom: 25px;
  color: rgb(136, 136, 136);
}

#target-container {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.target-tittle {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 40px;
}

h2 {
  font-size: 4rem;
  text-align: center;
  color: #2571b7;
  margin-bottom: 20px;
}

.target-tittle p {
  color: rgb(136, 136, 136);
  text-align: center;
  font-size: 3rem;
}

.target-columns {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-template-rows: repeat(10, 15vh);
  grid-gap: 30px 30px;
}

.target-column-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.target-tittle-descripiton {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 25px;
}

.target-img img {
  width: 60px;
}

.target-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
  padding-left: 10px;
}

.column1 {
  background-color: #0072c6;
}
.column2 {
  background-color: #2c5898;
}
.column3 {
  background-color: #207245;
}
.column4 {
  background-color: #cb4a32;
}
.column5 {
  background-color: #733781;
}
.column6 {
  background-color: #00aff0;
}
.column7 {
  background-color: #094ab2;
}
.column8 {
  background-color: #0073c6;
}
.column9 {
  background-color: #0093be;
}
.column10 {
  background-color: #5558af;
}

#services-container {
  padding-top: 60px;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.services-item {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid rgba(117, 117, 117, 0.37);
}

.services-item-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-item-tittle {
  color: #7fba00;
  font-size: 2.4rem;
}

.services-item-description {
  color: rgb(136, 136, 136);
  font-size: 2rem;
  margin: 40px 0;
  margin-right: 10px;
  max-width: 350px;
}

.services-button {
  padding: 10px 0;
  width: 120px;
  font-size: 2.2rem;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.services-button.button-1:hover {
  background-color: #7fba00;
  color: #fff;
  transition: 0.5s;
}
.services-button.button-1 {
  border: 3px solid #7fba00;
  color: #7fba00;
}

.services-item-img-container {
  background-color: #7fba00;
  padding: 25px;
  border-radius: 50%;
}

.services-item-img {
  width: 50px;
}

.services-item-tittle-2 {
  color: #00a4ef;
  font-size: 2.4rem;
}

.services-button.button-2 {
  border: 3px solid #00a4ef;
  color: #00a4ef;
}

.services-button.button-2:hover {
  background-color: #00a4ef;
  color: #fff;
  transition: 0.5s;
}

.services-item-img-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #00a4ef;
  border-radius: 50%;
  padding: 30px;
}

.services-item-img-2 {
  width: 45px;
}

.services-item-tittle-3 {
  color: #ffb900;
  font-size: 2.4rem;
}

.services-button.button-3 {
  color: #ffb900;
  border: 3px solid #ffb900;
}

.services-button.button-3:hover {
  background-color: #ffb900;
  color: #fff;
  transition: 0.5s;
}

.services-item-img-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ffb900;
  border-radius: 50%;
  padding: 30px;
}

.services-item-img-3 {
  width: 45px;
}

#about {
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

.about-tittle {
  padding-top: 40px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.about-container-columns {
  border: 3px solid rgba(117, 117, 117, 0.37);
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-container-columns-border {
  border-top: transparent;
}

.about-tittle-descriptions {
  font-size: 2rem;
  color: tomato;
}

.about-descriptions {
  padding-top: 20px;
  color: rgb(136, 136, 136);
  font-size: 2.4rem;
  text-align: center;
}

.img-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/equipe.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-description {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  padding: 10px 0;
  font-size: 3.8rem;
  text-align: center;
  color: #fff;
}

.registration-container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.registration-description {
  margin: auto;
  width: 90%;
  color: rgb(136, 136, 136);
  font-size: 3.8rem;
  text-align: center;
  padding: 80px 0;
}

.registration-form {
  background-color: rgba(209, 209, 209, 0.514);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 30px 0;
}

.form-description {
  margin: auto;
  width: 90%;
  border: none;
  height: 60px;
  padding-left: 20px;
  font-size: 2.4rem;
}

.form-button {
  margin: auto;
  width: 90%;
  font-size: 3.2rem;
  text-align: center;
  border: none;
  background-color: #00a4ef;
  color: #fff;
  cursor: pointer;
  height: 60px;
}

.form-button:hover {
  background-color: #2571b7;
  color: white;
  transition: 0.5s;
}

input::placeholder {
  color: rgba(170, 170, 170, 0.911);
}

.img-footer {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.img-footer img {
  width: 120px;
}

.copy {
  padding-top: 30px;
  font-size: 1.8rem;
  text-align: center;
  color: rgb(136, 136, 136);
  padding-bottom: 30px;
}

@media (max-width: 425px) {
  html {
    font-size: 38%;
  }
  h1 {
    font-size: 5rem;
  }

  .home-description {
    font-size: 3.6rem;
  }

  .home-button {
    font-size: 4rem;
  }
  .target-column-1 {
    padding: 10px;
  }

  .about-tittle-descriptions {
    font-size: 2.4rem;
  }

  .about-descriptions {
    font-size: 2.4rem;
  }

  .img-container {
    height: 180px;
  }

  .img-description {
    font-size: 2.8rem;
  }

  .registration-description {
    font-size: 2.8rem;
  }
}

@media (min-width: 425px) {
  .target-column-1 {
    padding: 0 30px;
  }

  .target-tittle-descripiton {
    font-size: 2.4rem;
  }

  .target-content {
    padding-left: 20px;
    font-size: 2.2rem;
  }

  h1 {
    font-size: 8rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 45%;
  }

  #header-container .header-menu {
    height: 70px;
  }

  #header-container .header-menu #nav #btn-mobile {
    display: flex;
    padding: 10px 7px;
    border: none;
    background: none;
    cursor: pointer;
  }

  #header-container .header-menu #nav #btn-mobile:hover {
    background-color: rgba(255, 255, 255, 0.144);
    transition: 0.3s;
  }

  #hamburguer-button {
    color: #fff;
    display: block;
    border-top: 3px solid;
    width: 30px;
    transition: 0.4s;
    z-index: 9999;
  }

  #hamburguer-button::after,
  #hamburguer-button::before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: currentColor;
    margin-top: 8px;
    transition: 0.3s;
    position: relative;
  }

  #menu {
    position: absolute;
    width: 230px;
    max-width: 250px;
    top: 69px;
    left: 0;
    background-color: #2570b7d8;
    display: block;
    border-bottom-right-radius: 25px;
    text-align: center;
    z-index: 999;
    line-height: 70px;
    height: 0;
    transition: 0.5s;
    visibility: hidden;
    overflow-y: hidden;
  }

  .options-mobile-home {
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    display: block;
    padding: 5px;
  }

  .options-mobile-home:hover {
    background-color: rgba(255, 255, 255, 0.151);
    color: #fff;
    border-bottom-right-radius: 25px;
    transition: 0.4s;
  }

  .options-mobile:hover {
    background-color: rgba(255, 255, 255, 0.151);
    color: #fff;
    border-bottom-right-radius: 25px;
    transition: 0.4s;
  }

  hr {
    display: block;
    margin: auto;
    width: 90%;
    border-color: rgba(255, 255, 255, 0.342);
  }

  .header-menu img {
    display: none;
  }

  .header-menu #nav {
    width: 100%;
  }

  .options-mobile {
    display: block;
    margin-left: 0;
    font-weight: 400;
  }

  #nav.active #menu {
    height: 325px;
    max-height: 325px;
    visibility: visible;
  }

  #nav.active #hamburguer-button {
    border-top: transparent;
  }

  #nav.active #hamburguer-button::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburguer-button::after {
    transform: rotate(-135deg);
    top: -11px;
  }

  #home-container {
    text-align: center;
  }

  .home-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .target-columns {
    grid-template-rows: repeat(5, 15vh);
  }

  .column6 {
    display: none;
  }
  .column7 {
    display: none;
  }
  .column8 {
    display: none;
  }
  .column9 {
    display: none;
  }
  .column10 {
    display: none;
  }

  .about-tittle-descriptions {
    font-size: 2.8rem;
  }

  .about-descriptions {
    padding-top: 25px;
    font-size: 2.4rem;
  }

  .img-footer {
    padding-top: 60px;
    gap: 30px;
  }

  .img-footer img {
    width: 120px;
  }
}

@media (min-width: 800px) {
  .home-img {
    justify-content: right;
  }

  .target-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(5, 18vh);
    grid-gap: 30px 50px;
  }

  .target-img img {
    width: 80px;
  }

  .services-item-tittle {
    margin-top: 40px;
  }

  .services-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
  }

  .services-item {
    flex-direction: column-reverse;
    justify-content: space-between;
    border-bottom: none;
  }

  .services-item-description {
    max-width: none;
  }

  .services-item-column {
    align-items: center;
    text-align: center;
  }

  .services-item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    padding: 42px;
  }

  .services-item-img {
    width: 100%;
  }

  .services-item-img-container-2 {
    width: 150px;
    height: 150px;
  }

  .services-item-img-2 {
    width: 55px;
  }

  .services-item-img-container-3 {
    width: 150px;
    height: 150px;
  }

  .services-item-img-3 {
    width: 65px;
  }

  .services-button {
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: row;
  }

  .about-container-columns-border {
    border-top: 3px solid rgba(117, 117, 117, 0.37);
    border-left: transparent;
  }

  .about-tittle-descriptions {
    font-size: 1.8rem;
  }

  .about-descriptions {
    padding-top: 15px;
    font-size: 1.8rem;
  }

  .img-container {
    height: 250px;
    font-size: 3.2rem;
  }

  .registration-form {
    margin: auto;
    width: 500px;
    gap: 50px;
    padding: 40px;
  }

  .form-description {
    width: 100%;
    height: 80px;
  }

  .form-button {
    width: 100%;
    height: 80px;
  }
}

@media (max-width: 1140px) {
  html {
    font-size: 44%;
  }

  #header-container .header-menu #nav {
    gap: 20px;
  }

  #header-container .header-menu #menu {
    gap: 20px;
  }

  #header-container .header-menu img {
    width: 150px;
    height: auto;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 56%;
  }
  .about-container-columns {
    height: 250px;
  }

  .img-container {
    height: 300px;
  }

  .target-img img {
    width: 90px;
  }

  .target-column-1 {
    padding: 0 30px;
  }

  .target-content {
    padding-left: 30px;
  }
}
